/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/../fonts/HeeboRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/../fonts/HeeboMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/../fonts/HeeboBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/../fonts/HeeboBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Heebo", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-style: normal;
  color: #21243d;
  background-color: #fff;
}

img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 886px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.focus-visible {
  outline-color: #ff6464;
  outline-offset: 1px;
}

.header {
  padding-top: 27px;
  padding-bottom: 27px;
}
.header__container {
  max-width: 1062px;
}
@media (max-width: 576px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .nav__list {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
.nav__item:not(:last-child) {
  margin-right: 34px;
}
@media (max-width: 576px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.nav__link {
  font-size: 20px;
  line-height: 1.45;
  font-weight: 500;
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline-color: #ff6464;
}
.nav__link:hover {
  color: #ff6464;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .nav__link {
    font-size: 30px;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.title {
  font-size: 30px;
  line-height: 1.4666666667;
  margin: 0;
  font-weight: 700;
  text-align: left;
  color: #21243d;
}
.title--sm {
  font-size: 26px;
  line-height: 1.4615384615;
}
.title--sm a:hover {
  text-decoration: underline;
}

.hero {
  padding-top: 146px;
  padding-bottom: 71px;
}
.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
}
@media (max-width: 576px) {
  .hero__container {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    padding: 0 32px;
    row-gap: 25px;
  }
}
.hero__left {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 576px) {
  .hero__left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-grid-column-span: 10;
    grid-column: 10 span;
    text-align: center;
  }
}
.hero__right {
  position: relative;
  grid-column: 8/3 span;
  border-radius: 50%;
  width: 243px;
  height: 243px;
}
.hero__right::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -6px;
  display: block;
  border-radius: 50%;
  width: 243px;
  height: 243px;
  background-color: #edf7fa;
}
@media (max-width: 576px) {
  .hero__right::before {
    top: -10px;
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 576px) {
  .hero__right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    grid-column: 4/4 span;
    width: 173px;
    height: 170px;
  }
}
.hero__img {
  border-radius: 50%;
  width: 243px;
  height: 243px;
  -webkit-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  transform: translateY(-18px);
}
@media (max-width: 576px) {
  .hero__img {
    width: 170px;
    height: 170px;
  }
}
.hero__title {
  font-size: 44px;
  line-height: 1.3636363636;
  margin-bottom: 24px;
  max-width: 506px;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  .hero__title p {
    text-align: center;
  }
}
.hero__text {
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .hero__text {
    margin-bottom: 27px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 37px;
  }
}

.recrent {
  padding-top: 21px;
  padding-bottom: 32px;
  background-color: #edf7fa;
}
.recrent__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 15px;
}
@media (max-width: 768px) {
  .recrent__container {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
.recrent__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-column-span: 10;
  grid-column: 10 span;
}
.recrent__news {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
  border-radius: 4px;
  padding: 24px 23px 7px;
  -webkit-box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
  box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
  background-color: #fff;
}
@media (max-width: 768px) {
  .recrent__news {
    -ms-grid-column-span: 10;
    grid-column: 10 span;
  }
}
.recrent__subtitle {
  font-size: 22px;
  letter-spacing: -0.6px;
}
@media (max-width: 768px) {
  .recrent__subtitle {
    font-size: 20px;
  }
}
.recrent__link {
  font-size: 16px;
  line-height: 1.5;
  color: #00a8cc;
}
.recrent__link:hover {
  text-decoration: underline;
}
.recrent__title {
  margin-bottom: 26px;
}
.recrent__meta {
  margin-bottom: 18px;
}

.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.meta__item {
  position: relative;
  font-size: 18px;
  color: #000;
}
.meta__item:not(:last-child) {
  margin-right: 57px;
}
.meta__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-left: 30px;
  width: 1px;
  height: 21px;
  background-color: #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 576px) {
  .meta__item--recrent:not(:last-child) {
    margin-right: 16px;
  }
  .meta__item--recrent:not(:last-child)::after {
    content: "";
    margin-left: 8px;
    height: 14px;
  }
}
.meta__item--blog:not(:last-child) {
  margin-right: 45px;
}
.meta__item--blog:not(:last-child)::after {
  content: "";
  margin-left: 25px;
  height: 12px;
}
@media (max-width: 576px) {
  .meta__item--blog:not(:last-child) {
    margin-right: 24px;
  }
  .meta__item--blog:not(:last-child)::after {
    content: "";
    margin-left: 12px;
  }
}

.meta-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.meta-time {
  margin-right: 26px;
  border-radius: 16px;
  padding: 0 10px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  background-color: #142850;
}
.meta-time--work-inner {
  margin-right: 15px;
  margin-left: 5px;
  background-color: #ff7c7c;
}
@media (max-width: 576px) {
  .meta-time--work-inner {
    font-size: 18px;
    line-height: 1.4444444444;
  }
}

.meta-category {
  font-size: 20px;
  line-height: 1.45;
  color: #8695a4;
}
.meta-category--work-inner {
  color: #21243d;
}
@media (max-width: 576px) {
  .meta-category--work-inner {
    font-size: 18px;
    line-height: 1.4444444444;
  }
}

.futered {
  padding-top: 15px;
  padding-bottom: 83px;
}
.futered__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  row-gap: 0;
}
.futered__top {
  font-size: 22px;
  line-height: 2.7272727273;
  -ms-grid-column-span: 10;
  grid-column: 10 span;
  margin-bottom: 22px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .futered__top {
    text-align: center;
  }
}
.futered__work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  -webkit-column-gap: 19px;
  -moz-column-gap: 19px;
  column-gap: 19px;
  -ms-grid-column-span: 10;
  grid-column: 10 span;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
}
.futered__work:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .futered__work {
    -ms-grid-rows: 230px auto;
    grid-template-rows: 230px auto;
  }
}
.futered__img {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
}
@media (max-width: 768px) {
  .futered__img {
    -ms-grid-column-span: 10;
    grid-column: 10 span;
  }
}
.futered__content {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  width: 100%;
}
@media (max-width: 768px) {
  .futered__content {
    -ms-grid-column-span: 10;
    grid-column: 10 span;
  }
}
.futered__title {
  margin-bottom: 22px;
  line-height: 1;
}
.futered__meta {
  margin-bottom: 20px;
}
.futered__link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .futered {
    padding-bottom: 25px;
  }
}

.blog-article {
  padding-top: 78px;
}
.blog-article__container {
  max-width: 711px;
}
.blog-article__news {
  margin-bottom: 31px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 24px;
}
.blog-article__subtitle {
  font-size: 22px;
  letter-spacing: -0.6px;
}
@media (max-width: 768px) {
  .blog-article__subtitle {
    font-size: 20px;
  }
}
.blog-article__link {
  font-size: 16px;
  line-height: 1.5;
  color: #00a8cc;
}
.blog-article__link:hover {
  text-decoration: underline;
}
.blog-article__title {
  font-size: 44px;
  line-height: 1.3636363636;
  margin-bottom: 49px;
}
@media (max-width: 576px) {
  .blog-article__title {
    font-size: 30px;
    line-height: 2;
    margin-bottom: 20px;
  }
}
.blog-article__heading {
  margin-bottom: 4px;
}
.blog-article__heading a:focus {
  outline-color: #ff6464;
  outline-offset: 1px;
}
.blog-article__heading a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .blog-article__heading {
    font-size: 26px;
    line-height: 1.4615384615;
  }
}
.blog-article__meta {
  margin-bottom: 11px;
}
.blog-article__meta time {
  font-size: 20px;
  line-height: 1.45;
}
@media (max-width: 576px) {
  .blog-article__meta time {
    font-size: 16px;
    line-height: 1.5;
  }
}
.blog-article__meta span {
  font-size: 20px;
  line-height: 1.45;
  color: #8695a4;
}
@media (max-width: 576px) {
  .blog-article__meta span {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (max-width: 576px) {
  .blog-article {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.works {
  padding-top: 86px;
  padding-bottom: 83px;
}
.works__container {
  max-width: 711px;
}
.works__heading {
  margin-bottom: 41px;
  font-size: 44px;
  line-height: 1;
}
@media (max-width: 576px) {
  .works__heading {
    font-size: 30px;
    line-height: 2;
  }
}
.works__work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
  -ms-grid-columns: 246px 418px;
  grid-template-columns: 246px 418px;
  -ms-grid-rows: 180px;
  grid-template-rows: 180px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 46px;
}
.works__work:not(:last-child) {
  margin-bottom: 43px;
}
@media (max-width: 576px) {
  .works__work {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 10px;
    row-gap: 15px;
  }
  .works__work:not(:last-child) {
    margin-bottom: 20px;
  }
}
.works__img {
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
}
@media (max-width: 576px) {
  .works__img {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    width: 100%;
  }
}
.works__content {
  width: 100%;
}
@media (max-width: 576px) {
  .works__content {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    width: 100%;
  }
}
.works__title {
  margin-bottom: 21px;
  line-height: 1;
}
@media (max-width: 576px) {
  .works__title {
    font-size: 24px;
    line-height: 1.25;
  }
}
.works__meta {
  margin-bottom: 18px;
}
@media (max-width: 576px) {
  .works__meta {
    font-size: 16px;
  }
}
.works__link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .works {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.work-inner {
  padding-top: 65px;
  padding-bottom: 30px;
}
.work-inner__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  max-width: 711px;
  row-gap: 0;
}
.work-inner__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.work-inner__head svg {
  width: 40px;
  height: 40px;
  color: inherit;
  fill: currentcolor;
}
@media (max-width: 576px) {
  .work-inner__head svg {
    width: 25px;
    height: 25px;
  }
}
.work-inner__link {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
@media (max-width: 576px) {
  .work-inner__link {
    width: 25px;
    height: 25px;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.work-inner__title {
  font-size: 34px;
  line-height: 1.4705882353;
  margin-bottom: 30px;
  max-width: 506px;
}
@media (max-width: 576px) {
  .work-inner__title {
    font-size: 30px;
    line-height: 1.3333333333;
  }
}
.work-inner__meta {
  margin-bottom: 28px;
}
.work-inner__text {
  margin-bottom: 42px;
  color: #000;
}
.work-inner__text--mb {
  margin-bottom: 29px;
  padding-left: 4px;
}
@media (max-width: 576px) {
  .work-inner__text {
    margin-bottom: 15px;
  }
}
.work-inner__top {
  -ms-grid-column-span: 10;
  grid-column: 10 span;
  margin-bottom: 62px;
  width: 100%;
}
@media (max-width: 576px) {
  .work-inner__top {
    margin-bottom: 10px;
  }
}
.work-inner__content {
  -ms-grid-column-span: 10;
  grid-column: 10 span;
}
.work-inner__headings {
  margin-bottom: 19px;
  padding-left: 3px;
}
.work-inner__heading {
  margin-bottom: 5px;
  font-size: 30px;
}
.work-inner__heading--sm {
  font-size: 24px;
}
.work-inner__img {
  overflow: hidden;
}
.work-inner__img:not(:last-child) {
  margin-bottom: 27px;
}
@media (max-width: 576px) {
  .work-inner {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.footer {
  padding-top: 48px;
  padding-bottom: 54px;
}
.footer__social {
  margin-bottom: 20px;
}
.footer__copy {
  font-size: 14px;
  text-align: center;
}
@media (max-width: 576px) {
  .footer {
    padding-top: 25px;
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #21243d;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  z-index: 15;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  z-index: 15;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .burger {
    display: block;
  }
}

.btn {
  padding: 12px 21px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background-color: #ff6464;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #21243d;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 37px;
}
.social__link {
  color: #21243d;
}
.social__link svg {
  width: 30px;
  height: 30px;
  color: inherit;
  fill: currentcolor;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.social__link svg:hover {
  fill: #ff6464;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
/*# sourceMappingURL=main.css.map */