.blog-article {
  padding-top: 78px;

  &__container {
    max-width: 711px;
  }

  &__news {
    margin-bottom: 31px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 24px;
  }

  &__subtitle {
    font-size: 22px;
    letter-spacing: -0.6px;

    @include small-tablet {
      font-size: 20px;
    }
  }

  &__link {
    @include font(16px, 24px);

    color: $blue-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    @include font(44px, 60px);

    margin-bottom: 49px;

    @include mobile {
      @include font(30px, 60px);

      margin-bottom: 20px;
    }
  }

  &__heading {
    margin-bottom: 4px;

    a {
      &:focus {
        outline-color: $bittersweet-color;
        outline-offset: 1px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    @include mobile {
      @include font(26px, 38px);
    }
  }

  &__meta {
    margin-bottom: 11px;

    time {
      @include font(20px, 29px);

      @include mobile {
        @include font(16px, 24px);
      }
    }

    span {
      @include font(20px, 29px);

      color: $gray-color;

      @include mobile {
        @include font(16px, 24px);
      }
    }
  }

  @include mobile {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
