.footer {
  padding-top: 48px;
  padding-bottom: 54px;

  &__social {
    margin-bottom: 20px;
  }

  &__copy {
    font-size: 14px;
    text-align: center;
  }

  @include mobile {
    padding-top: 25px;
  }
}
