.futered {
  padding-top: 15px;
  padding-bottom: 83px;

  &__container {
    @include grid;

    row-gap: 0;
  }

  &__top {
    @include font(22px, 60px);

    grid-column: 10 span;
    margin-bottom: 22px;
    letter-spacing: 1px;

    @include small-tablet {
      text-align: center;
    }
  }

  &__work {
    @include grid;
    @include mb(25px);

    column-gap: 19px;
    grid-column: 10 span;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;

    @include small-tablet {
      grid-template-rows: 230px auto;
    }
  }

  &__img {
    grid-column: 3 span;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;

    @include small-tablet {
      grid-column: 10 span;
    }
  }

  &__content {
    grid-column: 7 span;
    width: 100%;

    @include small-tablet {
      grid-column: 10 span;
    }
  }

  &__title {
    margin-bottom: 22px;
    line-height: 1;
  }

  &__meta {
    margin-bottom: 20px;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  @include mobile {
    padding-bottom: 25px;
  }
}
