.header {
  padding-top: 27px;
  padding-bottom: 27px;

  &__container {
    max-width: 1062px;

    @include mobile {
      @include flex-all-center;

      justify-content: flex-end;
    }
  }

  @include small-tablet {
    padding-top: 20px;
  }
}
