.hero {
  padding-top: 146px;
  padding-bottom: 71px;

  &__container {
    @include grid;

    @include mobile {
      column-gap: 0;
      padding: 0 32px;
      row-gap: 25px;
    }
  }

  &__left {
    grid-column: 6 span;

    @include mobile {
      order: 2;
      grid-column: 10 span;
      text-align: center;
    }
  }

  &__right {
    position: relative;
    grid-column: 8 / 3 span;
    border-radius: 50%;
    width: 243px;
    height: 243px;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      top: -6px;
      display: block;
      border-radius: 50%;
      width: 243px;
      height: 243px;
      background-color: $section-bg;

      @include mobile {
        top: -10px;
        width: 170px;
        height: 170px;
      }
    }

    @include mobile {
      order: 1;
      grid-column: 4 / 4 span;
      width: 173px;
      height: 170px;
    }
  }

  &__img {
    border-radius: 50%;
    width: 243px;
    height: 243px;
    transform: translateY(-18px);

    @include mobile {
      width: 170px;
      height: 170px;
    }
  }

  &__title {
    @include font(44px, 60px);

    margin-bottom: 24px;
    max-width: 506px;

    @include small-tablet {
      font-size: 38px;
    }

    @include mobile {
      @include font(32px, 40px);

      margin-bottom: 20px;

      p {
        text-align: center;
      }
    }
  }

  &__text {
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 27px;
    }
  }

  @include mobile {
    padding-top: 37px;
  }
}
