.nav {
  &__list {
    @include flex-all-center;

    justify-content: flex-end;

    @include mobile {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      overflow-y: auto;
      width: 100%;
      height: 100vh;
      background-color: $color-bg;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }

  &__item {
    @include mr(34px);

    @include mobile {
      @include mr(0);
      @include mb(30px);
    }
  }

  &__link {
    @include font(20px, 29px);

    font-weight: 500;
    color: $black-color;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline-color: $bittersweet-color;
    }

    &:hover {
      color: $bittersweet-color;
      transition: color 0.3s ease-in-out;
    }

    @include mobile {
      font-size: 30px;
    }
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
