.nav {
  &__list {
    @include flex-all-center;

    justify-content: flex-end;
  }

  &__item {
    @include mr(34px);
  }

  &__link {
    @include font(20px, 29px);

    font-weight: 500;
    color: $black-color;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $bittersweet-color;
      transition: color 0.3s ease-in-out;
    }
  }
}
