.social {
  @include flex-all-center;

  &__item {
    @include mr(37px);
  }

  &__link {
    color: $primary-color;

    svg {
      width: 30px;
      height: 30px;
      color: inherit;
      fill: currentcolor;
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: $bittersweet-color;
        transition: fill 0.3s ease-in-out;
      }
    }
  }
}
