<section class="blog-article">
  <div class="container blog-article__container">
    <h2 class="title blog-article__title">Blog</h2>
    <article class="blog-article__news">
      <h3 class="title"><a href="#">UI Interactions of the week</a></h3>
      <ul class="meta list-reset blog-article__meta">
       <li class="meta__item meta__item--blog"><time datatime="2019-02-12 12:00">12 Feb 2019</time></li>
       <li class="meta__item meta__item--blog">
        <span>Express,</span>
        <span>Handlebars</span>
       </li>
      </ul>
      <p class="blog-article__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </article>
    <article class="blog-article__news">
      <h3 class="title"><a href="#">UI Interactions of the week</a></h3>
      <ul class="meta list-reset blog-article__meta">
       <li class="meta__item meta__item--blog"><time datatime="2019-02-12 12:00">12 Feb 2019</time></li>
       <li class="meta__item meta__item--blog">
        <span>Express,</span>
        <span>Handlebars</span>
       </li>
      </ul>
      <p class="blog-article__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </article>
    <article class="blog-article__news">
      <h3 class="title"><a href="#">UI Interactions of the week</a></h3>
      <ul class="meta list-reset blog-article__meta">
       <li class="meta__item meta__item--blog"><time datatime="2019-02-12 12:00">12 Feb 2019</time></li>
       <li class="meta__item meta__item--blog">
        <span>Express,</span>
        <span>Handlebars</span>
       </li>
      </ul>
      <p class="blog-article__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </article>
    <article class="blog-article__news">
      <h3 class="title"><a href="#">UI Interactions of the week</a></h3>
      <ul class="meta list-reset blog-article__meta">
       <li class="meta__item meta__item--blog"><time datatime="2019-02-12 12:00">12 Feb 2019</time></li>
       <li class="meta__item meta__item--blog">
        <span>Express,</span>
        <span>Handlebars</span>
       </li>
      </ul>
      <p class="blog-article__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </article>
  </div>
</section>
