<footer class="footer">
  <div class="container">
    <ul class="social list-reset footer__social" title="social">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Our Facebook">
          <svg>
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--inst" aria-label="Our Instagram">
          <svg class="">
            <use xlink:href="img/sprite.svg#inst"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Our Twitter">
          <svg class="">
            <use xlink:href="img/sprite.svg#tw"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--linkedin" aria-label="Our LinkedIn">
          <svg class="">
            <use xlink:href="img/sprite.svg#lin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__copy">Copyright ©2020 All rights reserved </p>
  </div>
</footer>
