<div class="section futered">
  <div class="container futered__container">
    <div class="futered__top">Futered works</div>
    <article class="futered__work">
      <img loading="lazy" src="img/work1.png" class="image futered__img" width="246" height="180" alt="work">
      <div class="futered__content">
        <h3 class="title futered__title"><a class="futered__link" href="#">Designing Dashboards</a></h3>
        <div class="meta-work futered__meta">
          <span class="meta-time">2020</span>
          <span class="meta-category">Dashboard</span>
        </div>
        <div class="futered__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
    <article class="futered__work">
      <img loading="lazy" src="img/work2.png" class="image futered__img" width="246" height="180" alt="work">
      <div class="futered__content">
        <h3 class="title futered__title"><a class="futered__link" href="#">Vibrant Portraits of 2020</a></h3>
        <div class="meta-work futered__meta">
          <span class="meta-time">2018</span>
          <span class="meta-category">Illustration</span>
        </div>
        <div class="futered__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
    <article class="futered__work">
      <img loading="lazy" src="img/work3.png" class="image futered__img" width="246" height="180" alt="work">
      <div class="futered__content">
        <h3 class="title futered__title"><a class="futered__link" href="#">36 Days of Malayalam type</a></h3>
        <div class="meta-work futered__meta">
          <span class="meta-time">2018</span>
          <span class="meta-category">Typography</span>
        </div>
        <div class="futered__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
  </div>
</div>
