<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h1 class="title hero__title">
        <span>Hi, I am John,</span>
        <span>Creative Technologist</span>
      </h1>
      <p class="hero__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <button class="btn-reset btn" data-path="">Download Resume</button>
    </div>
    <div class="hero__right">
      <img loading="lazy" src="img/avatar.png" class="image hero__img" width="243" height="243" alt="man smile">
    </div>
  </div>
</section>
