<section class="recrent">
  <div class="container recrent__container">
    <h2 class="visually-hidden">Recrent posts</h2>
    <div class="recrent__top">
      <div class="recrent__subtitle">Recrent posts</div>
      <a href="#" class="recrent__link">View all</a>
    </div>
    <div class="recrent__news">
      <h3 class="title title--sm recrent__title"><a href="#">Making a design system from scratch</a></h3>
      <ul class="meta list-reset recrent__meta">
       <li class="meta__item"><time datatime="2020-02-12 12:00">12 Feb 2020</time></li>
       <li class="meta__item">
        <span>Design,</span>
        <span>Pattern</span>
       </li>
      </ul>
      <p class="recrent__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="recrent__news">
      <h3 class="title title--sm recrent__title"><a href="#">Creating pixel perfect icons in Figma</a></h3>
      <ul class="meta list-reset recrent__meta">
       <li class="meta__item"><time datatime="2020-02-12 12:00">12 Feb 2020</time></li>
       <li class="meta__item">
        <span>Figma,</span>
        <span>Icon Design</span>
       </li>
      </ul>
      <p class="recrent__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>
</section>
