<div class="section works">
  <div class="container works__container">
    <h2 class="title works__heading">Work</h2>
    <article class="works__work">
      <img loading="lazy" src="img/work1.png" class="image works__img" width="246" height="180" alt="work">
      <div class="works__content">
        <h3 class="title works__title"><a class="works__link" href="work-article.html">Designing Dashboards</a></h3>
        <div class="meta-work works__meta">
          <span class="meta-time">2020</span>
          <span class="meta-category">Dashboard</span>
        </div>
        <div class="works__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
    <article class="works__work">
      <img loading="lazy" src="img/work2.png" class="image works__img" width="246" height="180" alt="work">
      <div class="works__content">
        <h3 class="title works__title"><a class="works__link" href="work-article.html">Vibrant Portraits of 2020</a></h3>
        <div class="meta-work works__meta">
          <span class="meta-time">2018</span>
          <span class="meta-category">Illustration</span>
        </div>
        <div class="works__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
    <article class="works__work">
      <img loading="lazy" src="img/work3.png" class="image works__img" width="246" height="180" alt="work">
      <div class="works__content">
        <h3 class="title works__title"><a class="works__link" href="work-article.html">36 Days of Malayalam type</a></h3>
        <div class="meta-work works__meta">
          <span class="meta-time">2018</span>
          <span class="meta-category">Typography</span>
        </div>
        <div class="works__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
    <article class="works__work">
      <img loading="lazy" src="img/work4.png" class="image works__img" width="246" height="180" alt="work">
      <div class="works__content">
        <h3 class="title works__title"><a class="works__link" href="work-article.html">Components</a></h3>
        <div class="meta-work works__meta">
          <span class="meta-time">2018</span>
          <span class="meta-category">Components,</span>
          <span class="meta-category">Design</span>
        </div>
        <div class="works__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
    </article>
  </div>
</div>
