// container
$containerWidth: 886px;
$containerPadding: 30px;
$containerSidePadding: math.div($containerPadding, 2);

// font
$font-family: "Heebo";
$font-size: 16px;
$line-height: 24px;
$font-weight: 400;
$font-style: normal;

// colors
$color-bg: #fff;
$primary-color: #21243d;
$gray-color: #8695a4;
$black-color: #000;
$bittersweet-color: #ff6464;
$blue-color: #00a8cc;
$section-bg: #edf7fa;
